<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>CUSTOMER LIST</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #eeeeee;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="jumbotron">
<h2>Create Spring Boot Application to Display Customers</h2>
<h3>SPRINGBOOT CUSTOMER LIST</h3>
<br/>
        <form action="/search" method="post">
            Last name: <input type="text" name="lastname">
            <input type="submit" value="Submit">
        </form>



        <table>
    <tr>

        <th>FIRST NAME</th>
        <th>LAST NAME</th>

    </tr>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.firstname}"></td>
        <td th:text="${customer.lastname}"></td>

        <td>
            <a th:href="@{/details/{customerid}(customerid=${customer.customerid})}">Details</a>
        </td>
    </tr>
</table>
        <form action="/">
            <input type="submit" value="Show All">
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/
jquery.min.js"></script>

</body>
</html>